@tailwind base;
@tailwind components;
@tailwind utilities;

.link-eli {
	@apply hover:cursor-pointer hover:scale-105 ease-in-out duration-200;
}

.teste {
  @apply w-full py-24 px-64 flex flex-col gap-24 bg-gray-300;
}

body, html{
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}