@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

html, body, #root{
  @apply h-full;
  color: #48545D;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply z-0 static
}

textarea:focus, input:focus, select:focus {
  outline: 0;
} 

h1 {
  @apply text-3xl text-secondary-400 mb-6
  xsm:text-4xl sm:text-5xl md:text-6xl
  mobile:text-5xl mobile:text-center
}

h2 {
  @apply text-xl text-secondary-400
  xsm:text-2xl md:text-3xl
  mobile:text-center
}

h3 {
  @apply text-lg xsm:text-xl
}

.info {
  @apply text-gray-400 text-xl
}

input {
  @apply m-1 py-3 px-6
  border-3 rounded-md
  text-xl
  border-gray-200
  hover:border-gray-300
  focus:border-primary-300
  duration-200 ease-in-out
}

textarea {
  @apply m-1 py-3 px-6
  bg-gray-200
  border-3 rounded-md
  text-xl
  duration-200 ease-in-out
}

/* My custom classes */
.flex-center {
  @apply flex justify-center items-center
}

.flex-col-center {
  @apply flex flex-col justify-center items-center
}

.flex-between {
  @apply flex justify-between items-center
}

.btn-sm {
  @apply
  py-1 px-4
  rounded-md
  text-lg font-semibold
  hover:opacity-70
  duration-200 ease-in-out
}

.btn {
  @apply
  m-1 py-3 px-8
  border-3 border-gray-200 rounded-md
  text-xl font-semibold
  hover:opacity-70
  duration-200 ease-in-out
}

.btn-primary {
  @apply bg-primary-300 text-white border-0
}

.btn-secondary {
  @apply bg-gray-200 text-gray-800 border-0
  hover:bg-gray-300 hover:opacity-100
}

.btn-dark {
  @apply 
  hover:bg-secondary-300 hover:text-white hover:opacity-100
}

.font-fredoka {
  font-family: 'Fredoka', sans-serif;;
}

.link {
  @apply hover:cursor-pointer hover:text-secondary-300
  duration-200 ease-in-out
}

.link-span {
  @apply link text-xl text-gray-500 font-semibold font-fredoka hover:opacity-60
}

.main {
  @apply w-full xsm:w-2/3 px-8 xsm:px-0 flex-col-center
}

.separator {
  @apply my-4 w-2/3 flex-center text-gray-400 font-fredoka
}

.separator::before {
  @apply flex-1 mr-4 bg-gray-400;
	content: '';
	height: 1px;
}

.separator::after {
  @apply flex-1 ml-4 bg-gray-400;
	content: '';
	height: 1px;
}
