@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

html, body, #root{
  @apply h-full;
  color: #48545D;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus, input:focus, select:focus {
  outline: 0;
} 

h1 {
  @apply text-6xl mb-6;
  color: #1A2935;
}

h2 {
  @apply text-3xl;
  color: #1A2935;
}

h3 {
  @apply text-xl
}

input {
  @apply m-1 py-3 px-6 border-3 rounded-md
  text-xl
  border-gray-200
  hover:border-gray-400
  focus:border-primary-400
  duration-200 ease-in-out
}

/* My custom classes */
.flex-center {
  @apply flex justify-center items-center
}

.flex-col-center {
  @apply flex flex-col justify-center items-center
}

.btn {
  @apply
  m-1 py-3 px-8
  border-3 border-gray-200 rounded-md
  text-xl font-semibold
  hover:opacity-70
  duration-200 ease-in-out
}

.btn-primary {
  @apply bg-primary-400 text-white border-0
}

.btn-dark {
  @apply 
  hover:bg-secondary-300 hover:text-white hover:opacity-100
}

.link {
  @apply hover:cursor-pointer hover:text-secondary-300
  duration-200 ease-in-out
}

.separator {
  @apply my-4 w-2/3 flex-center text-gray-400
}

.separator::before {
  @apply flex-1 mr-4 bg-gray-400;
	content: '';
	height: 1px;
}

.separator::after {
  @apply flex-1 ml-4 bg-gray-400;
	content: '';
	height: 1px;
}
